In [2]:
import pandas as pd

In [4]:
data=pd.read_csv('/Volumes/T7/WKWSCI-dataset/nela_ps_newsdata.csv')
#takes one minute to load
#takes 35GB of RAM

In [5]:
data.shape

(7910965, 13)

In [6]:
data.head()

,id,date,source,title,content,author,url,published,published_utc,collection_utc,network,location,ip2024
0,albusinessdaily--2021-03-19--Census Bureau: Mo...,2021-03-19,albusinessdaily,Census Bureau: More men than women in Sweet Wa...,Of the 385 people living in Sweet Water town i...,Alabama Business Daily,https://albusinessdaily.com/stories/574746434-...,"Fri, 19 Mar 2021 04:59:30 -0500",1616144370,1620738966,Metro Business Network (Franklin Archer),Alabama,IP_Address_27
1,albusinessdaily--2021-03-19--December 2020: 4 ...,2021-03-19,albusinessdaily,December 2020: 4 businesses registered in Hale...,There were four new businesses that registered...,Alabama Business Daily,https://albusinessdaily.com/stories/575546137-...,"Fri, 19 Mar 2021 04:59:27 -0500",1616144367,1620738969,Metro Business Network (Franklin Archer),Alabama,IP_Address_27
2,albusinessdaily--2021-03-19--There were 4 new ...,2021-03-19,albusinessdaily,There were 4 new businesses registered in Gran...,There were four new businesses that registered...,Alabama Business Daily,https://albusinessdaily.com/stories/575546087-...,"Fri, 19 Mar 2021 04:54:54 -0500",1616144094,1620738971,Metro Business Network (Franklin Archer),Alabama,IP_Address_27
3,albusinessdaily--2021-03-19--28 accommodation ...,2021-03-19,albusinessdaily,28 accommodation and food services businesses ...,There were 28 accommodation and food services ...,Alabama Business Daily,https://albusinessdaily.com/stories/553171288-...,"Fri, 19 Mar 2021 04:54:53 -0500",1616144093,1620738966,Metro Business Network (Franklin Archer),Alabama,IP_Address_27
4,albusinessdaily--2021-03-19--17 retail trade b...,2021-03-19,albusinessdaily,17 retail trade businesses in ZIP code 36067 e...,There were 17 retail trade businesses in ZIP c...,Alabama Business Daily,https://albusinessdaily.com/stories/553171277-...,"Fri, 19 Mar 2021 04:48:06 -0500",1616143686,1620738969,Metro Business Network (Franklin Archer),Alabama,IP_Address_27